@charset "UTF-8"
 
* {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient( to right,#9EF8EE, #32A89C, #009688);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #323838;
    width: 600px;
    pedding: 10px;
    margin: auto;
}

p {
    text-align: justify;
    }

h1 {
color: #FF4858;
text-align: center;
text-shadow: 1px 1px 2px #a32731b6;
;
}

h2 {
    color: #FF4858;
    }